*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
}

html{
    overflow: auto;
    min-height: 100%;
}

body {
    background-color: rgba(154, 168, 190, 0.986);
    margin: 0;
    overflow-x: scroll;
    overflow-y: scroll;
    min-height: 100%;
    height: 100vh;
}

.container {
    height: 100%;
    width: 96%;
}

.div1 {
    background-color: rgba(4, 26, 71, 0.986);
    display: table;
    position: fixed;
    width: 15%;
    height: 100%;
   
}

link {
    position: absolute;
    top: 50%;
    display: table-cell;
    vertical-align: middle;
}

.link-handle {
    color: rgb(252, 252, 252);
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    
}

ul {
    list-style-type: none;
}

li a {
    display: block;
}

li a:hover {
    background-color: rgb(99, 112, 114);
    color: rgb(252, 252, 252);
  }

.info {
    margin-left: 15%;
    padding: 1px 16px;
    height: 1000px;
    width: 85%;
    overflow: hidden;

}

#name-rightside {
    color: rgb(29, 41, 53);
    padding: none;
    margin: none;
    font-family: 'Times New Roman', Times, serif;
}

fieldset{
    border: solid rgba(154, 168, 190, 0.986);
    overflow: hidden;
}

.nav-image {
    padding-top: 7%;
    padding-bottom: 7%;
    padding-left: 7%;
    height: 30px;
    width: 35px;
}

.field-set-content {
    width: 100%;
    background-color: rgba(149, 163, 185, 0.98);
    display: flex;
    justify-content: space-between;
}

.pic-fieldset {
    width: 100%;
    padding-top: 2%;
}

.field-set {
    padding-top: 1%;
}

.pic-info {
    width: 100%;
}

.table-image{
    height: 70%;
    width: 70%;
}

.intro-sent {
    color: rgb(35, 69, 87);
    font-family: 'Niconne', cursive;
}

.hash-tag {
    color: blue;
}

table {
    text-align: center;
    align-items: center;
    width: 100%;
}

td {
    background-color:rgba(149, 163, 185, 0.98);
    height: 350px;
    width: 400px;
}

tr {
    padding-right: 50%;
}

th {
    background-color:rgba(149, 163, 185, 0.98);
    font-family: 'Niconne', cursive;
    color: rgb(35, 69, 87);
    text-align: center;
}

.table-writing {
    font-family: 'Niconne', cursive;
}

.image-from-about {
    width: 20%;
    height: 20%;
    float: left;
    border: solid;
    background-color: rgb(100, 121, 133);
    margin-right: 10%;
}

.image-about-container {
    padding: 4%;
}

.about-header {
    text-align: center;
    font-family: 'Niconne', cursive;
    padding: 2%;
}

hr.horizontal {
    padding-top: 1%;
    border: 5px solid rgb(100, 121, 133);
}

.about-content-container {
    font-family: 'Niconne', cursive;
    text-align: justify; /* For Edge */
    -moz-text-align-last: justify; /* For Firefox prior 58.0 */
    text-align-last: justify;
    font-size: 115%;
}

.contact-content {
    font-family: 'Niconne', cursive;
    padding-top: 5%;
    width: 96%;
}

.contact-page {
    padding-left: 8%;
    padding-right: 8%;
    width: 96%;
    margin: auto;
}

#horizontal-fix {
    margin-right: 4%;
}

.email-contact {
    background-color: rgba(149, 163, 185, 0.98);
    color: rgb(26, 46, 71);
    margin-right: 5%;
    font-size: 150%;
    width: 96%;
    margin-bottom: 5%;
    text-align: center;
}

.other-info {
    background-color: rgba(130, 147, 175, 0.98);
    width: 96%;
    margin-top: 5%;
    margin-right: 4%;
    font-size: 120%;
}

#indent {
    text-indent: 30px;
    padding-bottom: 1%;
}

#add-space {
    padding-bottom: 1%;
}

#space-it-up, #add-space {
    padding-left: 0.5%;
}

small {
    size: 10%;
}

.btn {
    display: inline-block;
    border-radius: 1px;
    background-color: #12033b;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 70%;
    padding: 2%;
    width: 90px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 1px;
    height: 30px;
}

.btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.btn:hover span {
    padding-right: 10px;
  }
  
.btn:hover span:after {
    opacity: 1;
    right: 0;
  }

  .table-image-complicated {
      height: 30%;
      width: 40%;
  }

  .dets {
      font-size: 80%;
  }

  .table-image {
    transition: transform .2s;
    margin: 0 auto;
  }
  
  .table-image:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }

  .table-image-complicated:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }